* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}
main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #2036ff;
}
main > div h1 {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.74vh, 4rem);
  background-color: #88c7fd;
  background-image: linear-gradient(45deg, #88c7fd, #ffffff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main > div hr {
  display: block;
  background-color: #88c7fd;
  height: 0.25rem;
  width: 12.5rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}
main > div p {
  line-height: 1.6;
  color: #2036ff;
}
main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fcb1b1;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 3.125rem;
}
main > div > a {
  border: 2px solid #88c7fd;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}
main > div > a:hover {
  border: 0.125rem solid #88c7fd;
  color: #88c7fd;
}
.swiper {
  width: 100%;
  padding-top: 3.125rem;
}
.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  border-radius: 5px;
}
.swiper-slide h2 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}
.swiper-slide p {
  color: #dadada;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438rem 1.875rem;
  font-size: 0.9rem;
}
.swiper-slide a:hover {
  color: #88c7fd;
}
.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}
.swiper-slide-active div {
  display: block;
  opacity: 1;
}
.swiper-pagination {
  bottom: 1.25rem !important;
}
.swiper-pagination-bullet,
.swiper-pagination-active {
  background-color: #fafafa;
}
/* image-slide */
.slide-1 {
  background: linear-gradient(to top, #770f66, #203a4300, #2c536400),
    url("https://raw.githubusercontent.com/good-pastel/galeri-aqila/main/img/photo-1.jpg")
      no-repeat 50% 50% / cover;
}
.slide-2 {
  background: linear-gradient(to top, #75770f, #203a4300, #2c536400),
    url("https://raw.githubusercontent.com/good-pastel/galeri-aqila/main/img/photo-2.jpg")
      no-repeat 50% 50% / cover;
}
.slide-3 {
  background: linear-gradient(to top, #771f0f, #203a4300, #2c536400),
    url("https://raw.githubusercontent.com/good-pastel/galeri-aqila/main/img/photo-3.jpg")
      no-repeat 50% 50% / cover;
}
.slide-4 {
  background: linear-gradient(to top, #5f0f77, #203a4300, #2c536400),
    url("https://raw.githubusercontent.com/good-pastel/galeri-aqila/main/img/photo-4.jpg")
      no-repeat 50% 50% / cover;
}
.slide-5 {
  background: linear-gradient(to top, #0f7729, #203a4300, #2c536400),
    url("https://raw.githubusercontent.com/good-pastel/galeri-aqila/main/img/photo-5.jpg")
      no-repeat 50% 50% / cover;
}
/* responsive */
@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}
